r {
    text-decoration: underline;
    font-style: normal;
}

small {
    color: #777;
}

body {
    font-size: 12pt;
    font-family: sans-serif;
    line-height: 1.7em;
    margin: 2em;
}

audio {
    display: none;
}



.info {
    font-size: 0.8em;
    color: #666;
}

#current-chunk {
    background: #222;
    color: #FFF;
    padding: 32px;
    text-align: center;
    height: 50px;
    font-size: 14pt;
}

#current-graph {
    background: #222;
    color: #FFF;
    padding: 32px;
    text-align: center;
    height: 50px;
    font-size: 14pt;
}


#text {
    border: 1px solid #CCC;
}

/* right to text */
#current-json-chunk {
    display: block;
    margin-left: 20px;
    padding: 15px;
    border: 1px solid #CCC;
    font-size: 10pt;
    line-height: 1em;
    width: 310px;
}

#current-json-chunk.active {
    background-color: rgba(61, 123, 153, .1);
}

#text, #current-chunk{
    width: 700px;
    margin: 0 auto;
}

#text, #current-json-chunk {
    display: block;
    width: 700px;
    margin-top: 20px;
    height: 500px;
    overflow-y: auto;
}


.chunk {
    padding: 8px;
}

.penalty {
    padding-left: 48px;
    background: #eee;
    border-bottom: 1px solid  #CCC;
    border-top: 1px solid #CCC;
}

.penalties {
    font-size: 85%;
    color: #444;
}


.chunk.active {
    border: 1px solid #777;
}

.chunk:last-child {
    border-bottom: 0;
}

.word {
    color: #999;
}

.word.found:hover {
    cursor: pointer;
    text-decoration: underline;
}

.word.selected {
    color: black;
}

.word.notfound {
    color: #C00;
}


.json-key {
   color: brown;
}

.json-value {
   color: navy;
}

.json-string {
   color: olive;
}
