.tree {
	/* direction: rtl; */
	/* font-family: sans-serif; */
	/* font-size: 12px; */
	text-align: center;
	overflow-y: hidden;
	overflow-x: auto;
  /* height: 474px; */
}
.word, .tag, .dependency {
	text-anchor: middle;
}
.word {
	fill: #555;
	cursor: default;
}
.tag {
	fill: #777;
	font-size: .9em;
}
.edge, .arrow {
	fill: none;
	stroke: #ccc;
	stroke-width: 1.5;
}
.dependency {
	fill: #ccc;
	font-size: 15px;
}

.dependency.active {
	fill: #3276b1;
}
.word.active, .edge.active, .arrow.active {
	stroke: #3276b1;
}
.word.w0 {
	fill: #ccc;
}
